#define your own gcc here if you need cross-compile the code
CC = gcc -Wall -Wextra
OUTPUT_DIR = ../build/debug
FREERTOS_KERNEL = ../osal/freertos/FreeRTOS-Kernel

CFLAGS += -I ../include -I ./
CFLAGS += -DOSAL_FREERTOS_LINUX

OBJ = CsmpAgentLib_sample.o \
			CsmpAgentLib_sample_tlvs.o \
			CsmpAgentLib_sample_util.o \
			signature_verify.o \
			freertos_tlvs.o

CSMP_AGENT_LIB = csmp_agent_lib_freertos.a
OBJECT = CsmpAgentLib_sample

CFLAGS +=  \
-I ../osal \
-I ../osal/freertos/ \
-I $(FREERTOS_KERNEL)/include \
-I $(FREERTOS_KERNEL)/portable/ThirdParty/GCC/Posix/ \
-I $(FREERTOS_KERNEL)/portable/ThirdParty/GCC/Posix/utils/


$(OBJECT): $(addprefix $(OUTPUT_DIR)/, $(OBJ))
	@echo 'Building $@'
	$(CC) -o $@ $^ $(CSMP_AGENT_LIB)

$(OUTPUT_DIR)/freertos_tlvs.o: tlvs/freertos_tlvs.c
	@echo 'Building $<'
	@mkdir -p $(@D)
	@$(CC) $(CFLAGS) -c -o $@ $<


$(OUTPUT_DIR)/%.o: %.c
	@echo 'Building $<'
	@mkdir -p $(@D)
	@$(CC) $(CFLAGS) -c -o $@ $<