#define your own gcc here if you need cross-compile the code
CC = gcc -Wall -Wextra
OUTPUT_DIR = ../build/debug

CFLAGS += -I ../include -I ../osal/ -I ../osal/linux/ -I ./
CFLAGS += -DOSAL_LINUX
LIBS += -lpthread

#if the openssl lib is availabe, please uncomment the following four lines
#CFLAGS += -DOPENSSL
#LIBS += -lssl
#LIBS += -lcrypto
#LIBS += -ldl

OBJ = CsmpAgentLib_sample.o \
			CsmpAgentLib_sample_tlvs.o \
			CsmpAgentLib_sample_util.o \
			signature_verify.o \
			linux_tlvs.o

CSMP_AGENT_LIB = csmp_agent_lib.a
OBJECT = CsmpAgentLib_sample


$(OBJECT): $(addprefix $(OUTPUT_DIR)/, $(OBJ))
	@echo 'Building $@'
	$(CC) -o $@ $^ $(CSMP_AGENT_LIB) $(LIBS)

$(OUTPUT_DIR)/linux_tlvs.o: tlvs/linux_tlvs.c
	@echo 'Building $<'
	@mkdir -p $(@D)
	@$(CC) $(CFLAGS) -c -o $@ $<

$(OUTPUT_DIR)/%.o: %.c
	@echo 'Building $<'
	@mkdir -p $(@D)
	@$(CC) $(CFLAGS) -c -o $@ $<