# Turn on all warnings except missing-braces
# (no-missing-braces is for protoc generated code)
CC = gcc -Wall -Wextra -Wno-missing-braces
AR = ar rc

DIRs += $(shell find ./src -maxdepth 3 -type d)
DIRs += ./osal/linux

OUTPUT_DIR = build/debug

#CFLAGS += -DPRINTDEBUG
CFLAGS += $(foreach dir, $(DIRs), -I $(dir))
CFLAGS += -DOSAL_LINUX

LIBS += -lpthread

LIBSRC = $(foreach dir, $(DIRs), $(wildcard $(dir)/*.c))
LIBOBJ_nodir = $(notdir $(LIBSRC))
LIBOBJ = $(patsubst %.c,%.o,$(LIBOBJ_nodir))

LIB_OBJECT = csmp_agent_lib.a

LIBSRC += osal/linux/osal_linux.c
INC += \
osal

vpath %.c $(DIRs)

$(LIB_OBJECT): $(addprefix $(OUTPUT_DIR)/, $(LIBOBJ))
	@echo 'Building lib $@'
	$(AR) $@ $^

$(OUTPUT_DIR)/%.o: %.c
	@echo 'Building $<'
	@mkdir -p $(@D)
	@$(CC) $(CFLAGS) -c -o $@ $< -I $(INC)

clean:
	$(RM) -rf $(BUILD_DIR)
	$(RM) $(PROJECTNAME).a
